
body { 
    display: block;
    width: 70em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;

    padding: 0px;

    background-color:#272727;
}
footer {
    clear: both;
    position:absolute; 
    bottom:0;
    background-color:#131313;
    height:6em;


}

#header_wrapper {
    height:25em;
    background-image:url('../pictures/train.jpg');
    background-position:center; 
}

#welcome_text {
    position:relative;
    float:left;
    width: 50em;
}

#login {
    position:relative;
    float:right;
    background:none;
    width: 16em;
}

input {

    background-color:#131313;
    border: none;
    height:2em;
    padding-left:0.5em;
    margin-bottom:0.5em;
}
#clear {
    clear:both;
}


    
    #fieldset-container {
        float:left;
        padding: 1em;
}

#fieldset-container legend {
    color:#2099f6;
    margin-left: auto;
    margin-right: auto;
}

#fieldset-container input {
    background-color:#131313;
    border: none;
    height:2em;
    margin-bottom:0.5em;
    opacity: 0.5;
    
    color:#7D7D7D;
    font-family:Tahoma, Geneva, sans-serif;
    font-size: 0.8em;
}
#login label {
    float:left;
    margin: 0.3em;
        
    
}
#login input {
    float:left;
    background-color:#131313;
    border: none;
    height:2em;
    padding-left:0.5em;
    margin-bottom:0.5em;
    
}

#login button {
    float:right;
    background-color:#2099f6;
    border: none;
    margin: 0.3em;
}



#register input , label , button {
    float:left;
    clear: both;
}

#register button {
    background-color:#2099f6;
    border: none;
    margin: 0.3em;
}




