
body{

    color:#7D7D7D;
    font-family:Tahoma, Geneva, sans-serif;
    font-size: 12px;
}


h1 {
    font-family: verdana;
    font-size: 1.5em;
    color:#fcfcfc;
}
h2 {
    font-family: verdana;
    font-size: 1.1em;
    margin-top: 0em;
    color:#fcfcfc;

}

.error{
    color:red;
}

button {
    
    
    font-family:Tahoma, Geneva, sans-serif;
    color:#FFF;
    font-size: 1em;
}
input {
    color:#7D7D7D;
    font-family:Tahoma, Geneva, sans-serif;
    font-size: 0.8em;

}
