#ticket {
    width: 100%;
    padding: 2em;
}

#personinf {
    width:100%;
    float:left;
}


#ticket hr {
    width:100%;
    float:left;
}


#ticket table {
    margin-right: auto;
    float:left;
    border-collapse:collapse;
}



#sumup {
    clear:both;
    float:right;
}




